password:
  characters: ${PASSWORD_CHARACTERS:ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789}
  length: ${PASSWORD_LENGTH:10}

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION:86400000}

security:
  max-login-attempts: ${MAX_LOGIN_ATTEMPTS:3}
  lockout-duration: ${LOCKOUT_DURATION_MS:3000}

spring:
  application:
    name: gym-application

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}

  cache:
    type: caffeine
    caffeine:
      spec: maximumSize=10000,expireAfterWrite=15m

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/gym.application}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        use_sql_comments: false
        generate_statistics: false
    open-in-view: false

  sql:
    init:
      mode: never

  output:
    ansi:
      enabled: always

  activemq:
    broker-url: ${SPRING_ACTIVEMQ_BROKER_URL:tcp://localhost:61617}
    user: ${SPRING_ACTIVEMQ_USER:admin}
    password: ${SPRING_ACTIVEMQ_PASSWORD:admin}
    packages:
      trust-all: true

app:
  jms:
    queue:
      workload: workload.queue
      workload-dlq: workload.dlq

logging:
  level:
    org.springframework: INFO
    org.springframework.security.config.annotation.authentication.configuration: ERROR
    com.github.amangusss: DEBUG
    com.zaxxer.hikari: WARN

management:
  endpoints:
    web:
      exposure:
        include: "*"
      base-path: /actuator
  endpoint:
    health:
      show-details: always
      show-components: always
    metrics:
      access: unrestricted
    prometheus:
      access: unrestricted
  metrics:
    tags:
      application: gym-application
      environment: dev
  prometheus:
    metrics:
      export:
        enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

workload-service:
  url: http://WORKLOAD-SERVICE

resilience4j:
  circuitbreaker:
    instances:
      workload-service:
        failure-rate-threshold: 1
        wait-duration-in-open-state: 30s
        sliding-window-size: 10
        minimum-number-of-calls: 5