spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/gym.application}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: false
        generate_statistics: false

  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
      data-locations: classpath:data-dev.sql
      continue-on-error: false

logging:
  level:
    org.springframework: INFO
    com.github.amangusss: INFO
    org.hibernate.SQL: WARN
