password:
  characters: ${PASSWORD_CHARACTERS}
  length: ${PASSWORD_LENGTH}

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION:86400000}

security:
  max-login-attempts: ${MAX_LOGIN_ATTEMPTS:3}
  lockout-duration: ${LOCKOUT_DURATION_MS:300000}

spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/gym.application}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        use_sql_comments: false
        generate_statistics: false

  sql:
    init:
      mode: never

  output:
    ansi:
      enabled: always

logging:
  level:
    org.springframework: INFO
    com.github.amangusss: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
      base-path: /actuator
  endpoint:
    health:
      show-details: always
      show-components: always
    metrics:
      access: none
    prometheus:
      access: none
  metrics:
    tags:
      application: gym-application
      environment: dev
  prometheus:
    metrics:
      export:
        enabled: true